#AverageFloating {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 50;
  min-height: 200px;
  min-width: 300px;
}

.markNormalize .grade-box {
  background-color: burlywood !important;
  color: black !important;
}

input[type=number] {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: 1px #dfdfe0 solid;
  background: #FFFFFF;
  padding: 0 5px;
  height: 25px;
  line-height: 25px;
  width: 170px;
  margin: 0 5px;
  color: #717171;
  font-size: 12px !important;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

#avHide {
  cursor: pointer;
}